<h1>This is homepage
    
</h1>

<p>The Team Career Camp is doing a fantastic job in providing students with the best opportunities possible.<br> Three major tasks are being carried out by them.
    <ol>
        <li>Listing the students on this portal.</li>
        <li>Listing the details of interview's.</li>
        <li>Marking the result of the candidates and updating the status.
            <strong>On result page the Names in red color are rejected & those in green color are selected</strong> 
        </li>
    </ol>
</p>



