<h1>
    This is Sign Up Page 
</h1>
<form action="/employees/create" method="post" class="fo-rm">
    <input type="text" name="name" id="" placeholder="Enter your Name">    
    <input type="email" name="email" placeholder="Enter your email" id="">
    <input type="password" name="password" id="" placeholder="Create new password">
    <input type="password" name="confirm_password" id="" placeholder="Re-enter password">
    <button type="submit" class="btn-primary">Sign Up</button>
</form>