body {
  background: #d6e0d7;
}
button:focus {
  outline: none;
}
button {
  border: none;
  background-color: transparent;
}
.calculator {
  display: inline-block;
  background: #9fb3db;
  padding: 25px 20px;
  margin-top: 2rem;
  color: #060101;
  width: 350px;
  text-align: center;
  border-radius: 5px;
}
input {
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 10px;
}
#input {
  border-radius: 5px;
  height: 90px;
  font-size: 25px;
  color: #103b72;
}
#output {
  font-size: 22px;
  border-radius: 0 0 5px 5px;
}
.calculator table {
  margin: auto;
}

table {
  margin-top: 10px !important;
}
table tr td {
  padding: 10px 12px;
  background: repeating-linear-gradient(
    320deg,
    rgb(23, 33, 80),
    transparent 100px
  );
}
table tr td button {
  padding: 10px 15px;
  color: rgb(4, 12, 11);
}
table tr td p {
  padding: 10px 15px;
  color: rgb(1, 8, 8);
  margin: 0;
  cursor: pointer;
}
